DATABASE_URL="postgresql://vos_user:PASSWORD@localhost:5433/vos_db?schema=public"
JWT_SECRET="change-me-in-env-only"
NEXT_PUBLIC_APP_NAME="منصة إدارة وتشغيل المتطوعين VOS"
PORT=3060
NODE_ENV=development
